* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul,
li,
h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    padding: 0;
    list-style-type: none
}
img {
    border: 0
}
.mTop-24 {
    margin-top: 24px;
}
.mTop-28 {
    margin-top: 28px;
}
.mTop-38 {
    margin-top: 38px;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}
.clearfix {
    display: inline-block
}
* html .clearfix {
    height: 1%
}
.clearfix {
    display: block
}
a {
    
    text-decoration: none;
    color: #909090;
}
a:hover {
    color: #ff3333;
    text-decoration: underline
}
input:focus,
buttton:focus {
    outline: 0
}
.btn:hover {
    text-decoration: none
}
.btn.btn-primary,
.btn.btn-primary:visited,
.btn.btn-secondary,
.btn.btn-secondary:visited {
    width: 100%
}
input[type="text"],
input[type="password"] {
    position: relative;
    height: 32px;
    width: 240px;
    border: 0;
    box-shadow: none;
    float: left;
    font-size: 16px;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    line-height: 1;
}
i {
    margin-right: 5px
}
.text-center {
    text-align: center;
}
.text-center span {
    text-align: center;
    font-size: 17px;
    font-weight: normal;
    color: #909090;
    /*#C09666;*/
    
    padding: 5px;
    display: block;
    font-family: "AvenirNext";
    font-weight: bold;
}
.mBot-12 {
    margin-bottom: 12px;
}
.btn {
    font-size: 16px;
    font-size: 1.6rem;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    display: inline-block;
    padding: 0;
    line-height: 22px;
    font-weight: 500;
    min-width: 144px;
    height: 40px;
    text-decoration: none;
}
.btn.btn-primary:hover {
    background-color: #ee1818;
    border-color: #ee1818;
    border-bottom-color: #ee1818;
}
.btn.btn-primary {
    color: #ffffff;
    background-color: #F01714;
    border: 1px solid #ee1818;
}
.btn.btn-primary,
.btn.btn-primary:visited,
.btn.btn-secondary,
.btn.btn-secondary:visited {
    width: 100%;
}
.btn.btn-secondary {
    color: #F01714;
    background-color: transparent;
    border: 1px solid #F01714;
}
.login-form {
    width: 330px;
    margin-right: 130px;
    margin-top: 95px;
    float: right;
    background: #fff;
    position: relative;
    border-top: 4px solid #ff3333;
    z-index: 9;
    padding: 24px 24px 28px 24px;
    border-left: 1px solid #666872;
    -moz-box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.30), 0 6px 3px 0 rgba(0, 0, 0, 0.23);
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.30), 0 6px 3px 0 rgba(0, 0, 0, 0.23)
}
iframe#iframe1 {
    width: 100%;
    height: 100%;
    position: absolute;
    min-height: 600px
}
iframe#iframe1.broswer-open {
    min-height: 700px;
}
iframe#iframe1.error-open {
    min-height: 700px;
}
.hide,
.none {
    display: none;
}
/* Checkbox */

.checkbox-group {
    float: left;
}
.checkbox-group .checkbox {
    margin-bottom: 8px;
}
.checkbox-group .checkbox:last-child {
    margin-bottom: 0;
}
.checkbox-group.inline .checkbox {
    margin-bottom: 0;
    float: left;
    margin-right: 16px;
}
.checkbox-group.inline .checkbox:last-child {
    margin-right: 0;
}
.checkbox-group.disabled {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
}
.checkbox input[type="checkbox"] {
    display: none;
}
.checkbox.no-check input[type="checkbox"]:checked + label span {
    background-position: -182px top;
    cursor: default;
}
.checkbox input[type="checkbox"] + label span {
    display: inline-block;
    width: 21px;
    height: 20px;
    margin: 0 8px 0 0;
    float: left;
    vertical-align: middle;
    border: 1px solid #c0c0c0;
    cursor: pointer;
}
.checkbox input[type="checkbox"]:checked + label span:before {
    content: "\31";
    font-family: "dbsicons";
    font-size: 14px;
    color: #ff3333;
    padding: 2px 2px 2px 2px;
    top: -1px;
    position: relative;
}
.checkbox label {
    line-height: 20px;
}
.checkbox.disabled {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
}
.checkbox.disabled input[type="checkbox"] + label span {
    cursor: not-allowed;
    background-position: -101px -56px;
}
.links {
    margin: 0px;
    border-top: 0px solid #ccc6c6;
    padding-top: 20px;
    font-size: 15px;
    clear: both;
}
.logo {
    padding: 0 24px;
    height: 44px;
}
.logo img {
    width: 35%
}
.links li {
    padding: 0px;
    line-height: 24px;
    color: #909090;
}
.form-row {
    position: relative;
    margin-bottom: 10px;
    height: 28px;
    padding: 2px;
    background: none;
    /******* updates*/
}
.form-row span.icon {
    float: left;
    margin: 8px 0 0 10px;
    color: #ccc6c6
}
.action-btns {
    margin-top: 16px;
}
.checkbox {
    margin-top: -16px;
    color: #656565;
    font-size: 16px;
    line-height: 24px;
}
.login-form .input-layout .checkbox label {
    position: static;
    pointer-events: all;
    margin-top: 0;
    text-align: left;
}
.error-msg {
    position: absolute;
    margin-top: 6px;
    width: 95%;
}
.error-msg h4 {
    word-break: break-word;
    white-space: normal;
    font-weight: normal;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    color: #ff3333;
}
.generic-error {
    background: #ffe8e8;
    color: #ff3333;
    border: 1px solid #ff3333;
    padding: 8px;
    margin-top: 12px;
    margin-bottom: 12px;
}
.generic-error h4 {
    word-break: break-word;
    white-space: normal;
    font-weight: normal;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: #ff3333;
}
.brower-detect-error {
    position: relative;
    background: none repeat scroll 0 0 #ffe8e8;
    border: 1px solid #ff3333;
    padding: 10px;
    position: relative;
    text-align: center;
    color: #ff3333 !important;
    font-size: 14px;
    line-height: 17px;
    text-align: left;
    margin: 15px 0px;
}
.brower-detect-error a {
    color: #ff3333 !important;
    text-decoration: underline;
}
.languagetoggle {
    position: absolute;
    right: 40px;
    top: 50px;
    font-size: 14px;
}
.languagetoggle a,
.languagetoggle span.seperator {
    color: #fff;
    margin: 0 12px;
}
.login-form .input-layout {
    position: relative;
    /*margin-top: 44px*/
    
    margin: 0;
    padding: 0;
    margin-top: 24px;
}
.login-form .input-layout.pin {
    margin-top: 46px;
}
.login-form .input-layout label {
    color: #909090;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 2px;
    -webkit-transition: .2s ease all;
    transition: .2s ease all
}
.login-form .input-layout input[type=text],
.login-form .input-layout input[type=password] {
    font-size: 18px;
    color: #000000;
    border: 0;
    width: 100%;
    height: 30px;
    padding: 1px 0 5px 0px;
    border-bottom: 1px solid #dadee6;
    box-shadow: none;
    -webkit-transition: .2s ease all;
    transition: .2s ease all;
    border-radius: 0;
    font-weight: 500;
}
.login-form .input-layout input[type=password] {
    font-size: 20px;
}
/****** updates - input off state ****/

.login-form .input-layout input[type=text]:focus~label,
.login-form .input-layout input[type=text]:valid~label,
.login-form .input-layout input[type=password]:focus~label,
.login-form .input-layout input[type=password]:valid~label {
    top: -8px;
    color: #909090;
    opacity: 1;
    font-size: 16px;
    left: 0;
}
/****** updates - input typing state ****/

.login-form .input-layout input[type=text]:focus:not([readonly])~label,
.login-form .input-layout input[type=password]:focus:not([readonly])~label,
.login-form .input-layout input:valid.notEmpty~label {
    color: #909090;
    font-weight: 400;
    top: -16px;
    font-size: 12px;
}
.login-form .input-layout input[type=text]:focus:required:invalid:focus,
.login-form .input-layout input[type=password]:focus:required:invalid:focus {
    box-shadow: none
}
.login-form .input-layout input[type=text].error,
.login-form .input-layout input[type=password].error {
    border-bottom-color: #ff3333;
    border-bottom-width: 2px;
    border-radius: 0
}
.login-form .input-layout .alert-danger,
.login-form .input-layout .alert-error {
    background-color: transparent;
    border-color: transparent;
    text-align: left;
    font-size: 13px;
    font-weight: 400;
    color: #DD2B00;
    padding: 0;
    margin: 0;
    border-radius: 0
}
.login-form .input-layout .alert-danger a,
.login-form .input-layout .alert-error a {
    color: #DD2B00;
    text-decoration: underline
}
.login-form .input-layout .alert-email,
.login-form .input-layout .alert-name,
.login-form .input-layout .alert-password,
.login-form .input-layout .alert-passwordConfirmation {
    display: none
}
.login-form .input-layout .alert-dynamic {
    padding-bottom: 20px
}
.login-form .input-layout .bar {
    position: relative;
    display: block;
    width: 100%
}
.login-form .input-layout .bar:after,
.login-form .input-layout .bar:before,
.login-form .input-layout input.red:focus~.bar:after,
.login-form .input-layout input.red:focus~.bar:before {
    content: '';
    height: 1px;
    width: 0;
    bottom: -30px;
    position: absolute;
    background: #909090;
    -webkit-transition: .2s ease all;
    transition: .2s ease all
}
.login-form .input-layout .bar:before {
    left: 50%
}
.login-form .input-layout .bar:after {
    right: 50%
}
.login-form .input-layout input:focus~.bar:after,
.login-form .input-layout input:focus~.bar:before {
    width: 50%;
}
.login-form .input-layout .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: .5
}
.login-form .input-layout input:focus~.highlight {
    -webkit-animation: inputHighlighter .3s ease;
    animation: inputHighlighter .3s ease
}
#PIN.red,
#UID.red,
#PIN.red:focus,
#UID.red:focus {
    border-bottom: 1px solid #ff3333 !important
}
@media(min-width:768px) {
    @keyframes headShake {
        0 {
            -webkit-transform: translateX(0);
            -moz-transform: translateX(0);
            -o-transform: translateX(0);
            -ms-transform: translateX(0);
            transform: translateX(0);
        }
        12.5% {
            -webkit-transform: translateX(-6px) rotateY(-9deg);
            -moz-transform: translateX(-6px) rotateY(-9deg);
            -o-transform: translateX(-6px) rotateY(-9deg);
            -ms-transform: translateX(-6px) rotateY(-9deg);
            transform: translateX(-6px) rotateY(-9deg);
        }
        37.5% {
            -webkit-transform: translateX(5px) rotateY(7deg);
            -moz-transform: translateX(5px) rotateY(7deg);
            -o-transform: translateX(5px) rotateY(7deg);
            -ms-transform: translateX(5px) rotateY(7deg);
            transform: translateX(5px) rotateY(7deg);
        }
        62.5% {
            -webkit-transform: translateX(-3px) rotateY(-5deg);
            -moz-transform: translateX(-3px) rotateY(-5deg);
            -o-transform: translateX(-3px) rotateY(-5deg);
            -ms-transform: translateX(-3px) rotateY(-5deg);
            transform: translateX(-3px) rotateY(-5deg);
        }
        87.5% {
            -webkit-transform: translateX(2px) rotateY(3deg);
            -moz-transform: translateX(2px) rotateY(3deg);
            -o-transform: translateX(2px) rotateY(3deg);
            -ms-transform: translateX(2px) rotateY(3deg);
            transform: translateX(2px) rotateY(3deg);
        }
        100% {
            -webkit-transform: translateX(0);
            -moz-transform: translateX(0);
            -ms-transform: translateX(0);
            transform: translateX(0);
        }
    }
    @-moz-keyframes headShake {
        0 {
            -webkit-transform: translateX(0);
            -moz-transform: translateX(0);
            -o-transform: translateX(0);
            -ms-transform: translateX(0);
            transform: translateX(0);
        }
        12.5% {
            -webkit-transform: translateX(-6px) rotateY(-9deg);
            -moz-transform: translateX(-6px) rotateY(-9deg);
            -o-transform: translateX(-6px) rotateY(-9deg);
            -ms-transform: translateX(-6px) rotateY(-9deg);
            transform: translateX(-6px) rotateY(-9deg);
        }
        37.5% {
            -webkit-transform: translateX(5px) rotateY(7deg);
            -moz-transform: translateX(5px) rotateY(7deg);
            -o-transform: translateX(5px) rotateY(7deg);
            -ms-transform: translateX(5px) rotateY(7deg);
            transform: translateX(5px) rotateY(7deg);
        }
        62.5% {
            -webkit-transform: translateX(-3px) rotateY(-5deg);
            -moz-transform: translateX(-3px) rotateY(-5deg);
            -o-transform: translateX(-3px) rotateY(-5deg);
            -ms-transform: translateX(-3px) rotateY(-5deg);
            transform: translateX(-3px) rotateY(-5deg);
        }
        87.5% {
            -webkit-transform: translateX(2px) rotateY(3deg);
            -moz-transform: translateX(2px) rotateY(3deg);
            -o-transform: translateX(2px) rotateY(3deg);
            -ms-transform: translateX(2px) rotateY(3deg);
            transform: translateX(2px) rotateY(3deg);
        }
        100% {
            -webkit-transform: translateX(0);
            -moz-transform: translateX(0);
            -ms-transform: translateX(0);
            transform: translateX(0);
        }
    }
    @-o-keyframes headShake {
        0 {
            -webkit-transform: translateX(0);
            -moz-transform: translateX(0);
            -o-transform: translateX(0);
            -ms-transform: translateX(0);
            transform: translateX(0);
        }
        12.5% {
            -webkit-transform: translateX(-6px) rotateY(-9deg);
            -moz-transform: translateX(-6px) rotateY(-9deg);
            -o-transform: translateX(-6px) rotateY(-9deg);
            -ms-transform: translateX(-6px) rotateY(-9deg);
            transform: translateX(-6px) rotateY(-9deg);
        }
        37.5% {
            -webkit-transform: translateX(5px) rotateY(7deg);
            -moz-transform: translateX(5px) rotateY(7deg);
            -o-transform: translateX(5px) rotateY(7deg);
            -ms-transform: translateX(5px) rotateY(7deg);
            transform: translateX(5px) rotateY(7deg);
        }
        62.5% {
            -webkit-transform: translateX(-3px) rotateY(-5deg);
            -moz-transform: translateX(-3px) rotateY(-5deg);
            -o-transform: translateX(-3px) rotateY(-5deg);
            -ms-transform: translateX(-3px) rotateY(-5deg);
            transform: translateX(-3px) rotateY(-5deg);
        }
        87.5% {
            -webkit-transform: translateX(2px) rotateY(3deg);
            -moz-transform: translateX(2px) rotateY(3deg);
            -o-transform: translateX(2px) rotateY(3deg);
            -ms-transform: translateX(2px) rotateY(3deg);
            transform: translateX(2px) rotateY(3deg);
        }
        100% {
            -webkit-transform: translateX(0);
            -moz-transform: translateX(0);
            -ms-transform: translateX(0);
            transform: translateX(0);
        }
    }
    @-ms-keyframes headShake {
        0 {
            -webkit-transform: translateX(0);
            -moz-transform: translateX(0);
            -o-transform: translateX(0);
            -ms-transform: translateX(0);
            transform: translateX(0);
        }
        12.5% {
            -webkit-transform: translateX(-6px) rotateY(-9deg);
            -moz-transform: translateX(-6px) rotateY(-9deg);
            -o-transform: translateX(-6px) rotateY(-9deg);
            -ms-transform: translateX(-6px) rotateY(-9deg);
            transform: translateX(-6px) rotateY(-9deg);
        }
        37.5% {
            -webkit-transform: translateX(5px) rotateY(7deg);
            -moz-transform: translateX(5px) rotateY(7deg);
            -o-transform: translateX(5px) rotateY(7deg);
            -ms-transform: translateX(5px) rotateY(7deg);
            transform: translateX(5px) rotateY(7deg);
        }
        62.5% {
            -webkit-transform: translateX(-3px) rotateY(-5deg);
            -moz-transform: translateX(-3px) rotateY(-5deg);
            -o-transform: translateX(-3px) rotateY(-5deg);
            -ms-transform: translateX(-3px) rotateY(-5deg);
            transform: translateX(-3px) rotateY(-5deg);
        }
        87.5% {
            -webkit-transform: translateX(2px) rotateY(3deg);
            -moz-transform: translateX(2px) rotateY(3deg);
            -o-transform: translateX(2px) rotateY(3deg);
            -ms-transform: translateX(2px) rotateY(3deg);
            transform: translateX(2px) rotateY(3deg);
        }
        100% {
            -webkit-transform: translateX(0);
            -moz-transform: translateX(0);
            -ms-transform: translateX(0);
            transform: translateX(0);
        }
    }
    @-webkit-keyframes headShake {
        0 {
            -webkit-transform: translateX(0);
            -moz-transform: translateX(0);
            -o-transform: translateX(0);
            -ms-transform: translateX(0);
            transform: translateX(0);
        }
        12.5% {
            -webkit-transform: translateX(-6px) rotateY(-9deg);
            -moz-transform: translateX(-6px) rotateY(-9deg);
            -o-transform: translateX(-6px) rotateY(-9deg);
            -ms-transform: translateX(-6px) rotateY(-9deg);
            transform: translateX(-6px) rotateY(-9deg);
        }
        37.5% {
            -webkit-transform: translateX(5px) rotateY(7deg);
            -moz-transform: translateX(5px) rotateY(7deg);
            -o-transform: translateX(5px) rotateY(7deg);
            -ms-transform: translateX(5px) rotateY(7deg);
            transform: translateX(5px) rotateY(7deg);
        }
        62.5% {
            -webkit-transform: translateX(-3px) rotateY(-5deg);
            -moz-transform: translateX(-3px) rotateY(-5deg);
            -o-transform: translateX(-3px) rotateY(-5deg);
            -ms-transform: translateX(-3px) rotateY(-5deg);
            transform: translateX(-3px) rotateY(-5deg);
        }
        87.5% {
            -webkit-transform: translateX(2px) rotateY(3deg);
            -moz-transform: translateX(2px) rotateY(3deg);
            -o-transform: translateX(2px) rotateY(3deg);
            -ms-transform: translateX(2px) rotateY(3deg);
            transform: translateX(2px) rotateY(3deg);
        }
        100% {
            -webkit-transform: translateX(0);
            -moz-transform: translateX(0);
            -ms-transform: translateX(0);
            transform: translateX(0);
        }
    }
    .headShake {
        -webkit-animation-duration: .5s;
        -ms-animation-duration: .5s;
        -o-animation-duration: .5s;
        -moz-animation-duration: .5s;
        animation-duration: .5s;
        -webkit-animation-timing-function: ease-in-out;
        -ms-animation-timing-function: ease-in-out;
        -o-animation-timing-function: ease-in-out;
        -moz-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        -webkit-animation-name: headShake;
        -ms-animation-name: shake;
        -o-animation-name: headShake;
        -moz-animation-name: headShake;
        animation-name: headShake;
    }
    .perspEightHundred {
        -webkit-perspective: 800px;
        perspective: 800px;
    }
    .MainForm {
        -ms-perspective: 800px;
        -webkit-perspective: 800px;
        perspective: 800px;
    }
}
/* For IE */

.ie .headShake {
    -webkit-animation: shake .5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    animation: shake .5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}
@-webkit-keyframes shake {
    10%, 90% {
        -webkit-transform: translate3d(-1px, 0, 0);
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        -webkit-transform: translate3d(2px, 0, 0);
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        -webkit-transform: translate3d(-4px, 0, 0);
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        -webkit-transform: translate3d(4px, 0, 0);
        transform: translate3d(4px, 0, 0);
    }
}
@keyframes shake {
    10%, 90% {
        -webkit-transform: translate3d(-1px, 0, 0);
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        -webkit-transform: translate3d(2px, 0, 0);
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        -webkit-transform: translate3d(-4px, 0, 0);
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        -webkit-transform: translate3d(4px, 0, 0);
        transform: translate3d(4px, 0, 0);
    }
}
@media(min-width:1367px) {
    .login-form {
        margin-top: 150px;
    }
}
@media(min-width:768px) and (max-width:990px) {
    .login-form {
        margin: 0 auto;
        float: none;
        top: 200px;
    }
}
@media(min-width:0) and (max-width:737px) {
    .logo {
        height: auto;
    }
    .logo img {
        width: 28.5%;
    }
    .login-form {
        width: 100%;
        margin: 0;
        margin-top: 100px;
        border: 0;
    }
    iframe#iframe1 {
        height: 100%;
        min-height: 890px;
    }
    iframe#iframe1.broswer-open,
    iframe#iframe1.error-open {
        height: 978px !important;
    }
    #smartbanner ~ iframe {
        min-height:900px;
    }
}
@-moz-document url-prefix() {
    .perspEightHundred {
        perspective: none;
        -webkit-perspective: none;
    }
}