/*
 *@Title: DLS Font styles CSS
 *@Author: Team SS dbs (Redford Sumcad)
 *@Description: All font sizes/family will be in here (English)
*/
/*
 *@Title: IBanking mixins CSS
 *@Author: Team SS dbs (Redford Sumcad)
 *@Modified by: Muhammad Adib RAMZALI
 *@Designer: Leo Je-Wei LIN
 *@Description: All custom mixins to be define in here
*/
@font-face {
  font-family: 'Frutiger';
  src: url("../fonts/frutiger-lt/frutigernextlt-light-webfont.eot");
  src: url("../../fonts/frutiger-lt/frutigernextlt-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/frutiger-lt/frutigernextlt-light-webfont.woff") format("woff"), url("../fonts/frutiger-lt/frutigernextlt-light-webfont.ttf") format("truetype"), url("../fonts/frutiger-lt/frutigernextlt-light-webfont.svg#frutigernextlt_lightregular") format("svg");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Frutiger';
  src: url("../fonts/frutiger-lt/FrutigerNextPro-Medium.eot");
  src: url("../fonts/frutiger-lt/FrutigerNextPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/frutiger-lt/FrutigerNextPro-Medium.woff2") format("woff2"), url("../fonts/frutiger-lt/FrutigerNextPro-Medium.woff") format("woff"), url("../fonts/frutiger-lt/FrutigerNextPro-Medium.ttf") format("truetype"), url("../fonts/frutiger-lt/FrutigerNextPro-Medium.svg#FrutigerNextPro-Medium") format("svg");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Frutiger';
  src: url("../fonts/frutiger-lt/FrutigerNextPro-Bold_gdi.eot");
  src: url("../fonts/frutiger-lt/FrutigerNextPro-Bold_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/frutiger-lt/FrutigerNextPro-Bold_gdi.woff") format("woff"), url("../fonts/frutiger-lt/FrutigerNextPro-Bold_gdi.ttf") format("truetype"), url("../fonts/frutiger-lt/FrutigerNextPro-Bold_gdi.svg#FrutigerNextPro-Bold") format("svg");
  font-weight: 700;
  font-style: normal; }
html {
  font-size: 62.5%;
  line-height: normal; }

body {
  /*font-family: "AvenirNext", sans-serif;*/
  font-family: "Frutiger", sans-serif;
  color: #000000;
  font-weight: 400;
  font-size: 16px;
  font-size: 1.6rem; }

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
  font-weight: 500; }

h1, .h1, h2, .h2, h3, .h3 {
  margin: 0; }

h4, .h4, h5, .h5, h6, .h6 {
  margin-top: 8px;
  margin-bottom: 8px; }

h1, .h1 {
  font-size: 24px;
  font-size: 2.4rem; }
 

h2, .h2 {
  font-size: 24px;
  font-size: 2.4rem; }
  
h3, .h3 {
  font-size: 16px;
  font-size: 1.6rem; }
 

h4, .h4 {
  font-size: 14px;
  font-size: 1.4rem; }
 

h5, .h5 {
  font-size: 12px;
  font-size: 1.2rem; }

